/* 
  #logo{
    margin-top: auto;
  }
  
  .h3{
    margin-top: auto;
    width: auto;
  }
  .container{
    border: solid 3px ;
    width: 500px;
    margin-top: 50px;
    height: auto;
    box-shadow:yellow;
  }
  
  input[type="email"]{
    background: transparent;
  }
  input[type="password"]{
    background: transparent;
  } */